<h3><i class="fas fa-book-reader"></i>StoryBooks</h3>
<div class="section">
    <p class="lead">Create Public and Private Stories from Your Life</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn darken-1 red">
        <i class="fab fa-google left"> Log in with Google</i>
    </a>
</div>
